@import "../omarchy/current/theme/waybar.css";
@import "../omarchy/current/theme/walker.css";

* {
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border: 1px solid @selected-text;
}

tooltip label {
  color: @foreground;
  padding: 5px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  margin: 2px;
}

#workspaces {
  background-color: @background;
  margin: 2px 4px;
  padding: 0 5px;
  border-radius: 20px;
  opacity: 0.9;
}

#workspaces button {
  color: @foreground;
  background-color: transparent;
  margin: 3px 1px;
  padding: 0 2px;
  border-radius: 15px;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  background-color: @background;
  color: @foreground;
}

#workspaces button.active {
  background-color: @selected-text;
  color: @background;
  min-width: 30px;
  background-size: 400% 400%;
}

#workspaces button.empty {
  color: #6c7086;
}

#tray,
#window,
#cpu,
#memory,
#battery,
#network,
#temperature,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-weather,
#custom-update,
#custom-calendar,
#custom-netspeed,
#clock,
#tray-expander,
#disk,
#custom-vpn,
#custom-vpn.connected,
#custom-media {
  background-color: @background;
  color: @foreground;
  margin: 2px;
  padding: 0 15px;
  border-radius: 20px;
  opacity: 0.9;
  padding: 2px 15px;
}

#window {
  margin: 2px 2px;
}

#clock {
  font-weight: 800;
}

#custom-update {
  color: @foreground;
}

#tray-expander {
  padding: 0 5px;
}

#custom-expand-icon {
  color: @foreground;
  margin-left: 5px;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#clock:hover,
#custom-weather:hover,
#custom-calendar:hover,
#custom-netspeed:hover,
#disk:hover,
#custom-vpn:hover,
#custom-media:hover {
  background-color: @background;
  color: @foreground;
}

#battery.charging,
#battery.plugged {
  color: #a6e3a1;
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: @background;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#disk.warning {
  color: #f9e2af;
}

#disk.critical {
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature.critical {
  color: #f38ba8;
  background-color: rgba(243, 139, 168, 0.2);
}

@keyframes blink {
  to {
    background-color: @foreground;
    color: #f38ba8;
  }
}

#custom-vpn {
    color: #f38ba8;
    padding: 0 10px;
}

#custom-vpn.connected {
    color: #a6e3a1;
}
